.panel-text-description
{
	font-size: 0.7em;
}

.module-title-hr {
  border-bottom: 3px solid #3b4146;
  height: 0.4em;
  margin-bottom: 50px;
  position: relative;
  width: 100%;
}



.module-subtitle {
	text-align: center;
	font-size: 16px;
	color: #111;
	margin-bottom: 70px;
}

.module-icon {
	text-align: center;
	font-size: 32px;
	margin-bottom: 20px;
}

.module-title + .module-subtitle {
	margin-top: -35px;
}

/*.out-module-title-1*/
/*{*/
    /*width: 285px;*/
/*}*/
/*.out-module-title-2*/
/*{*/
    /*width: 245px;*/
/*}*/
/*.out-module-title-3*/
/*{*/
    /*width: 295px;*/
/*}*/
/*.out-module-title-4*/
/*{*/
    /*width:330px;*/
/*}*/
/*.out-module-title-5*/
/*{*/
    /*width: 170px;*/
/*}*/
/*.out-module-title-6*/
/*{*/
    /*width:395px;*/
/*}*/
/*.out-module-title-7*/
/*{*/
    /*width: 277px;*/
/*}*/

.out-module-title
{
    border-radius: 17px;
    overflow: hidden;
    background-color: #363c40;
    border-color: #3b4146;
    color: #fff;
    margin: 0 auto;
    display: inline-block;
    top: -10px;
    padding: 3px 25px;
    position: relative;
}

/* Nataly ^^^ */
.jumbotron.vertical-center {
  margin-bottom: 0; 
}

.vertical-center {
  min-height: 100%;  
  min-height: 80vh; 
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
 
  width: 100%;
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}


.jumbotron
{
	background-color: none;
}
