/* ------------------------------------------------------------------
Project: Rival
Version: 1.4
------------------------------------------------------------------ */

@import url("slider.css");
@font-face {
    font-family: 'Roboto-Regular';
    src: url('');
    src: local(''), url('') format('woff'), url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype'), url('') format('svg');
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: 'Roboto-Bold';
    src: url('');
    src: local(''), url('') format('woff'), url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype'), url('') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ------------------------------------------------------------------
General Styles
------------------------------------------------------------------- */

html {
	overflow-y: scroll;
	overflow-x: hidden;
	-ms-overflow-style: scrollbar;
}

body {
	background: #fff;
	font: 400 12px/1.8 "Roboto-Bold", sans-serif;
	color: #666;
	-webkit-font-smoothing: antialiased;
}

img {
	max-width: 100%;
	height: auto;
}

iframe {
	border: 0;
}

.align-center {
	text-align: center;
}
.alt-services-image
{
    position: relative;
    top: 70px;
}
.align-left {
	text-align: left !important;
}

.position-relative {
	position: relative;
}

.leftauto {
	right: 0 !important;
	left: auto !important;
}

/* Selection */

::-moz-selection {
	background:#000;
	color: #fff;
}

::-webkit-selection{
	background:#000;
	color: #fff;
}

::selection{
	background:#000;
	color: #fff;
}

/* Transition elsements */

.form-control,
.navbar-custom {
	-webkit-transition: all 0.4s ease-in-out 0s;
	   -moz-transition: all 0.4s ease-in-out 0s;
		-ms-transition: all 0.4s ease-in-out 0s;
		 -o-transition: all 0.4s ease-in-out 0s;
			transition: all 0.4s ease-in-out 0s;
}

a,
.btn,
.navbar a {
	-webkit-transition: all 0.125s ease-in-out 0s;
	   -moz-transition: all 0.125s ease-in-out 0s;
		-ms-transition: all 0.125s ease-in-out 0s;
		 -o-transition: all 0.125s ease-in-out 0s;
			transition: all 0.125s ease-in-out 0s;
}

.client-logo,
.gallery-caption,
.gallery-image:after,
.gallery-image img,
.price-table,
.team-detail,
.team-image:after,
.work-caption,
.work-image > img,
.work-image:after,
.post-thumbnail,
.post-video,
.post-images-slider {
	-webkit-transition: all 0.3s ease-in-out 0s;
	   -moz-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
		 -o-transition: all 0.3s ease-in-out 0s;
			transition: all 0.3s ease-in-out 0s;
}

/* Reset box-shadow */

.btn,
.well,
.panel,
.progress,
.form-control,
.form-control:hover,
.form-control:focus,
.navbar-custom .dropdown-menu {
	-webkit-box-shadow: none;
			box-shadow: none;
}

/* Reset border-radius */

.well,
.label,
.alert,
.progress,
.form-control,
.modal-content,
.panel-heading,
.panel-group .panel,
.nav-tabs > li > a,
.nav-pills > li > a {
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
		 -o-border-radius: 2px;
			border-radius: 2px;
}

/* Forms */

.form-control {
	font-family: "Roboto-Regular", sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 11px;
	height: 33px;
	border: 1px solid #EAEAEA;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
}

.form-control:focus {
	border-color: #CACACA;
}

/* Forms size */

.input-lg,
.form-horizontal .form-group-lg .form-control {
	height: 43px;
	font-size: 13px;
}

.input-sm, .form-horizontal .form-group-sm .form-control {
	height: 29px;
	font-size: 10px;
}

/* Button style */

.btn {
	font-family: "Roboto-Regular", sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 11px;
	padding: 8px 37px;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
	outline: 0;
}

.btn.btn-round {
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
}

.btn.btn-circle {
	-webkit-border-radius: 30px;
	   -moz-border-radius: 30px;
	        border-radius: 30px;
}

.btn.btn-w {
	background: rgba(255, 255, 255, .8);
	color: #111;
}

.btn.btn-w:hover,
.btn.btn-w:focus {
	background: rgba(255, 255, 255, 1);
	color: #111;
}

.btn.btn-g {
	background: #e5e5e5;
	color: #111;
}

.btn.btn-g:hover,
.btn.btn-g:focus {
	background: #d8d8d8;
	color: #111;
}

.btn.btn-border-w {
	background: transparent;
	border: 1px solid rgba(255, 255, 255, .75);
	color: #fff;
}

.btn.btn-border-w:hover,
.btn.btn-border-w:focus {
	background: #fff;
	border-color: transparent;
	color: #111;
}

.btn.btn-d {
	background: rgba(17, 17, 17, .8);
	color: #fff;
}

.btn.btn-d:hover,
.btn.btn-d:focus {
	background: rgba(17, 17, 17, 1);
}

.btn.btn-b {
	background: rgba(17, 17, 17, 1);
	color: #fff;
}

.btn.btn-b:hover,
.btn.btn-b:focus {
	background: rgba(17, 17, 17, .8);
}

.btn-border-d {
	background: transparent;
	border: 1px solid rgba(17, 17, 17, 1);
	color: #111;
}

.btn.btn-border-d:hover,
.btn.btn-border-d:focus {
	background: rgba(17, 17, 17, 1);
	color: #fff;
}

/* Buttons size */

.btn.btn-lg {
	padding: 12px 45px;
	font-size: 13px;
}

.btn.btn-sm {
	padding: 6px 25px;
	font-size: 10px;
	letter-spacing: 1px;
}

.btn.btn-xs {
	padding: 4px 19px;
	font-size: 10px;
	letter-spacing: 0;
}

/* Progress bars */

.progress {
	overflow: visible;
	height: 4px;
}

.progress-bar {
	position: relative;
}

.progress-bar.pb-dark {
	background: #111;
}

.progress-bar span {
	position: absolute;
	display: block;
	right: -0px;
	top: -24px;
	opacity: 0;
	line-height: 12px;
	font-size: 12px;
	color: #111;
	padding: 4px 0px;
}

.progress-bar span:after {
	display: inline-block;
	content: "%";
}

/* Tabs */

.tab-content {
	padding: 20px 0;
}

/* Accordion */

.panel-title {
	font-size: 14px;
}

.panel-heading a {
	position: relative;
	display: block;
}

.panel-heading a:after {
	position: absolute;
	content: "\f106";
	top: 50%;
	right: 0px;
	font-family: "FontAwesome";
	line-height: 1;
	font-size: 14px;
	margin-top: -7px;
}

.panel-heading a.collapsed:after {
	content: "\f107";
}

.btn-list .btn {
	margin: 5px 0;
}

.examples {
	border-radius: 2px;
	padding: 7px 5px;
	margin: 0 0 40px;
}

.examples.bg-dark {
	background: #2f343b;
	border: 0;
}

.et-icons .box1 {
	border: 1px solid #e5e5e5;
	display: block;
	width: 25%;
	float: left;
	padding: 0;
	font-size: 13px;
	margin: -1px 0 0 -1px;
}

.et-icons .box1 > span {
	display: inline-block;
	border-right: 1px solid #e5e5e5;
	min-width: 60px;
	min-height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 28px;
	margin-right: 5px;
}

.fa-icons > div {
	padding: 0;
	border: 1px solid #e5e5e5;
	margin: -1px 0 0 -1px;
	font-size: 13px;
}

.fa-icons > div > i {
	display: inline-block;
	margin-right: 5px;
	min-width: 40px;
	min-height: 40px;
	border-right: 1px solid #f1f1f1;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
}

.help-block ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* Dark background */

.bg-dark,
.bg-dark-30,
.bg-dark-60,
.bg-dark-90,
.bg-dark .module-title,
.bg-dark-30 .module-title,
.bg-dark-60 .module-title,
.bg-dark-90 .module-title,
.bg-dark .module-subtitle,
.bg-dark-30 .module-subtitle,
.bg-dark-60 .module-subtitle,
.bg-dark-90 .module-subtitle,
.bg-dark .alt-module-subtitle h5,
.bg-dark-30 .alt-module-subtitle h5,
.bg-dark-60 .alt-module-subtitle h5,
.bg-dark-90 .alt-module-subtitle h5 {
	color: #fff;
}

.bg-dark {
    background: #2f343b !important;
}

.bg-dark-30:before {
	position: absolute;
	background: rgba(34,34,34, .3);
	content: " ";
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.bg-dark-60:before {
	position: absolute;
	background: rgba(34,34,34, .6);
	content: " ";
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.bg-dark-90:before {
	position: absolute;
	background: rgba(34,34,34, .9);
	content: " ";
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.bg-gradient:before {
	position: absolute;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk1JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjk1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.95) 95%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(95%,rgba(0,0,0,0.95)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.95) 95%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.95) 95%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.95) 95%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.95) 95%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
	content: " ";
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

/* ------------------------------------------------------------------
Preloader
------------------------------------------------------------------- */

.page-loader {
	position: fixed;
	background: #000;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	z-index: 9998;
}

.loader {
	position: absolute;
	border-left: 2px solid #ffffff;
	border-top: 2px solid rgba(255, 255, 255, 0.2);
	border-right: 2px solid rgba(255, 255, 255, 0.2);
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
	height: 46px;
	width: 46px;
	left: 50%;
	top: 50%;
	margin: -23px 0 0 -23px;
	text-indent: -9999em;
	font-size: 10px;
	z-index: 9999;
	-webkit-animation: load 0.8s infinite linear;
	   -moz-animation: load 0.8s infinite linear;
	     ms-animation: load 0.8s infinite linear;
	      o-animation: load 0.8s infinite linear;
	        animation: load 0.8s infinite linear;
}

.loader2 {
  position: absolute;
  height: 46px;
  width: 46px;
  left: 50%;
  top: 50%;
  margin: -23px 0px 0px -23px;
  text-indent: -9999em;
  font-size: 10px;
  z-index: 9999;
}

.loader,
.loader:after {
	border-radius: 50%;
	width: 46px;
	height: 46px;
}

.loader2,
.loader2:after {
	border-radius: 50%;
	width: 46px;
	height: 46px;
}

@-webkit-keyframes load {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* ------------------------------------------------------------------
Typography
------------------------------------------------------------------- */

a {
	color: #111;
}

a:hover, a:focus {
	text-decoration: none;
	color: #aaa;
	outline: 0;
}

.bg-dark a {
	color: #aaa;
}

.bg-dark a:hover, .bg-dark a:focus {
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.4;
	font-weight: 400;
}

p, ol, ul, blockquote {
	margin: 0 0 20px;
}

blockquote {
	border: 0;
	font-style: italic;
	font-size: 15px;
	padding: 0;
}

.font-alt {
    font-family: 'Roboto-Regular','Helvetica Neue',Helvetica,Arial,sans-serif;
	text-transform: uppercase;
    font-weight: 300;
}
.font-alt2 {
    font-size: 4em;
    float: left;
    margin-right: 5px;
}
.count-to
{
    font-size: 4em;
}
.font-serif {
    font-family: 'Roboto-Regular','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 16px;
    margin-top: -30px;
}

.large-text {
	font-size: 24px !important;
}

.rotate {
	text-shadow: none !important;
}
.brand-icon {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 3px;
    top: 5px;
    position: relative;
	margin-left: 5px;
}
/* ------------------------------------------------------------------
Navbar
------------------------------------------------------------------- */

.navbar-custom {
	background-color: #2f343b;
	border: 0;
	border-radius: 0;
	z-index: 1000;
    font-family: 'Roboto-Regular','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 12px;
}

.navbar-custom .dropdown-menu {
	background: rgba(26, 26, 26, .9);
	border-radius: 0;
	border: 0;
	padding: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.navbar-custom .navbar-brand {
    display: block;
    font-size: 20px;
    font-weight: 500;
	color: #fff;
    font-family: Roboto-Regular;
    text-transform: none;
    padding-left: 22px;
}

.navbar-custom .nav li > a {
	position: relative;
    color: #acaeb1;
    text-shadow: #464646 0.5px 0px, #464646 0.5px 0.5px,
    #464646 0px 0.5px, #464646 -0.5px 0.5px, #464646 -0.5px 0px,
    #464646 -0.5px -0.5px, #464646 0px -0.5px, #464646 0.5px -0.5px, #464646 0 0 0.5px,
    #464646 0 0 0.5px, #464646 0 0 0.5px, #464646 0 0 0.5px,
    #464646 0 0 0.5px, #464646 0 0 0.5px, #464646 0 0 0.5px, #464646 0 0 0.5px;
        font-size: 14px;
}

.navbar-custom .dropdown-menu > li > a {
	border-bottom: 1px solid rgba(73, 71, 71, 0.3) !important;
	padding: 11px 15px;
	letter-spacing: 2px;
	font-size: 11px;
	color: #999;
}

.navbar-custom .dropdown-menu .dropdown-menu {
	border-left: 1px solid rgba(73, 71, 71, 0.3);
	left: 100%;
	right: auto;
	top: 0;
	margin-top: 0;
}

.navbar-custom .dropdown-menu.left-side .dropdown-menu {
	border: 0;
	border-right: 1px solid rgba(73, 71, 71, 0.3);
	right: 100%;
	left: auto;
}

.navbar-custom .nav > li > a:focus,
.navbar-custom .nav > li > a:hover,
.navbar-custom .nav .open > a,
.navbar-custom .nav .open > a:focus,
.navbar-custom .nav .open > a:hover,
.navbar-custom .dropdown-menu > li > a:focus,
.navbar-custom .dropdown-menu > li > a:hover {
	background: none;
	color: #fff;
}

.navbar-custom .dropdown-menu > li > a:hover {
	background: rgba(255, 255, 255, .1) !important;
}

.navbar-custom .dropdown-toggle:after {
	position: absolute;
	display: block;
	right: 0;
	top: 50%;
	margin-top: -6px;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 9px;
	content: "\f107";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.navbar-custom .navbar-toggle .icon-bar {
	background: #fff;
}

/* Navbar search */

.dropdown-search {
	position: relative;
	padding: 5px;
}

.dropdown-search .form-control {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 11px;
}

.search-btn {
	position: absolute;
	background: transparent;
	border: none;
	overflow: hidden;
	top: 50%;
	right: 1px;
	width: 42px;
	height: 40px;
	line-height: 38px;
	font-size: 14px;
	outline: none;
	color: #999;
	margin-top: -20px;
}

/* -------------------------------------------------------------------
Home Section
------------------------------------------------------------------- */

.home-section {
	position: relative;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	z-index: 0;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

.hs-title-size-1 {
	letter-spacing: 4px;
	font-size: 15px;
}

.hs-title-size-2 {
	line-height: 1.3;
	letter-spacing: 3px;
	font-size: 18px;
	opacity: .8;
}

.hs-title-size-3 {
	letter-spacing: 16px;
	font-size: 46px;
}

.hs-title-size-4 {
	letter-spacing: 0 !important;
	font-weight: 400;
	font-size: 48px;
}

/* Video */

.video-controls-box {
	position: absolute !important;
	bottom: 40px;
	left: 0;
	width: 100%;
	z-index: 1;
}

.video-controls-box a {
	display: inline-block;
	color: #fff;
	margin: 0 5px 0 0;
}

/* -------------------------------------------------------------------
Sections
------------------------------------------------------------------- */

.navbar-custom + .main {
	margin-top: 50px;
}

.main {
	position: relative;
	background-color: #fff;
	background-image:url(../images/bg_all_cifrus.png);
	z-index: 1;
}

.module,
.module-small {
	position: relative;
	padding: 140px 0;
   /* background: #e8ebf0; */
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

/* Module header */

.module-small {
	padding: 70px 0;
}

.module-title {
	position: relative;
	text-align: center;
	font-weight: 400;
	font-size: 30px;
	color: #111;
	margin: 0 0 70px;
}

.out-module-title
{
    border-radius: 17px;
    overflow: hidden;
    background-color: #363c40;
    border-color: #3b4146;
    color: #fff;
    margin: 0 auto;
    display: inline-block;
    top: -10px;
    padding: 3px 15px;
    position: relative;
}
/*.out-module-title-1*/
/*{*/
    /*width: 285px;*/
/*}*/
/*.out-module-title-2*/
/*{*/
    /*width: 245px;*/
/*}*/
/*.out-module-title-3*/
/*{*/
    /*width: 295px;*/
/*}*/
/*.out-module-title-4*/
/*{*/
    /*width:330px;*/
/*}*/
/*.out-module-title-5*/
/*{*/
    /*width: 170px;*/
/*}*/
/*.out-module-title-6*/
/*{*/
    /*width:395px;*/
/*}*/
/*.out-module-title-7*/
/*{*/
    /*width: 277px;*/
/*}*/
.module-title-hr {
    border-bottom: 5px solid #3b4146;
    height: 0.5em;
    margin-bottom: 80px;
    position: relative;
    width: 100%;
   
}



.module-subtitle {
	text-align: justify;
	font-size: 16px;
	color: #111;
	margin-bottom: 70px;
}

.module-icon {
	text-align: center;
	font-size: 32px;
	margin-bottom: 20px;
}

.module-title + .module-subtitle {
	margin-top: -35px;
}

/* Restaurant module header */

.alt-module-subtitle {
	display: table;
}

.alt-module-subtitle h5 {
	display: table-cell;
	white-space: pre;
	padding: 0 8px;
	color: #111;
}

.holder-w {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	height: 1px;
	width: 50%;
}

.holder-w:before {
	border-top: 1px solid #eaeaea;
	position: relative;
	display: block;
	content: "";
	top: 1px;
	height: 1px;
	width: 100%;
}

/* Sections dividers */

.divider-w {
	border-top: 1px solid #eaeaea;
	margin: 0;
}

.divider-d {
	border-top: 1px solid #202020;
	margin: 0;
}

/* Half-image */

.side-image {
	position: absolute;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

.side-image-text {
	background: #fff;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding: 140px 60px 140px;
}

/* -------------------------------------------------------------------
Footer
------------------------------------------------------------------- */

.footer {
	padding: 10px 0;
}

.copyright {
	margin: 0;
}

.footer-social-links {
	text-align: right;
}

.footer-social-links a {
	display: inline-block;
	padding: 0 6px;
}

.ajax-response {
	text-align: center;
}

/* -------------------------------------------------------------------
Google map
------------------------------------------------------------------- */

#map-section {
	position: relative;
	height: 450px;
	width: 100%;
}

#map {
	height: 100%;
	width: 100%;
}

#map img {
	max-width: none;
}

/* -------------------------------------------------------------------
Services, Content box
------------------------------------------------------------------- */

.features-item {
	margin: 20px 0;
	text-align: center;
    /*box-shadow: 0 2px 0 rgba(0,0,0,0.05);*/
    /*border-radius: 2px;*/
    /*border: 0;*/
    /*background: #ffffff;*/
    padding:15px 10px;
}

.features-icon,
.alt-features-icon {
	line-height: 1.2;
	font-size: 42px;
	color: #ffffff;
}
.features-item>.features-icon
{
    color: #ffffff;margin: 0 auto;
    height: 60px;
    width: 60px;
}
.features-title,
.alt-features-title {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14px;
	color: #111;
	margin: 16px 0 15px;
}

.alt-features-item {
	position: relative;
	padding:10px 10px 10px 70px;
	margin: 50px 0 0 0;text-align: justify;
}

.alt-features-icon {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 10px;
    top: 30%;
    text-align: center;
    line-height: 40px;
    font-size: 28px;
}
.icon-circle {
    padding: 5px;
    border-radius: 50%;
}
.bg-success {
    background-color: #9cc96b;
}
.bg-info {
    background-color: #4ebcda;
}
.bg-warning {
    background-color: #ebaa4b;
}
.bg-danger {
    background-color: #f76c51;
}
.alt-features-title {
	font-size: 13px;
	margin: 0 0 10px;
}


/* Content box */

.content-box {
	margin: 20px 0;
	text-align: center;
}

.content-box-title {
	font-weight: 400;
	font-size: 18px;
	color: #111;
	margin: 16px 0 15px;
}

/* -------------------------------------------------------------------
Restaurant menu
------------------------------------------------------------------- */

.menu {
	border-bottom: 1px dotted #e5e5e5;
	padding: 0 0 10px;
	margin: 0 0 20px;
}

.menu-title,
.menu-price {
	margin: 0 0 10px;
	font-size: 14px;
	color: #111;
}

.menu-price-detail {
	position: relative;
	text-align: right;
}

/* -------------------------------------------------------------------
Team
------------------------------------------------------------------- */

.team-item {
	position: relative;
	text-align: center;
}

.team-image {
	position: relative;
	overflow: hidden;
}

.team-image img {
	width: 100%;
}

.team-image:after {
	position: absolute;
	background: transparent;
	content: " ";
	display: block;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	border-radius: 200px;
}

.team-detail {
	position: absolute;
	width: 100%;
	opacity: 0;
	bottom: 100%;
	left: 0;
	z-index: 2;
	text-align: center;
	font-size: 12px;
	color: #aaa;
	padding: 20px;

}

.team-detail h5 {
	font-size: 16px;
}

.team-detail p {
	font-size: 14px;
}

.team-social a {
	display: inline-block;
	color: #aaa;
	padding: 5px 6px;
}

.team-social a:hover {
	color: #FFF;
}

.team-descr {
	margin: 20px 0 0;
}

.team-name {
	font-size: 14px;
	color: #111;
}

.team-role {
	font-size: 11px;
	color: #aaa;
}

.team-item:hover .team-image:after {
	background: rgba(0, 0, 0, .6);
}

.team-item:hover .team-detail {
	opacity: 1;
	bottom: 50%;
	-webkit-transform: translateY(50%);
	   -moz-transform: translateY(50%);
	        transform: translateY(50%);
}

/* -------------------------------------------------------------------
Price-tables
------------------------------------------------------------------- */

.price-table {
	background: #fff;
	border: 1px solid #FFFFFF;
	padding: 25px 20px 0;
	margin: 15px 0 15px;
    text-transform: none;
}

.price-table:hover {
	
}

.panel-title
{
	border: none;
	border-color: none;
	box-shadow: none;	
}

.table-price-right
{
	width: 150px;
  	text-align: right;
  	padding-right: 20px !important;
}

.table-price-left
{
	vertical-align: middle !important;
	padding-left: 20px !important;
}

.table-price-right .price
{
	font-size: 1.5em;
	display: inline-block;
	color: #62cb31;
}
.table-price-right .descr
{
	display: inline-block;
}

td.table-on-right {
  padding-top: 15px !important;
  width: 90px;
}

.table-price
{
	border: none !important;
}

.table-price td
{
	border: none !important;
	vertical-align:middle ;
	font-weight: 100 !important;
}

.price-table.best {
	margin: 0 0 30px;
}

.price-table .small {
	margin: 0;
}
.price-name
{
    float: left;
    font-size: 25px;
    margin-bottom: 0;
    color: #6a6c6f;
}
.price-text
{
    margin: 5px 0 0;
}
.green-line
{
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
}
.green-line-1
{
    float: left;
    width: 50%;
    padding-left:2%;
    height: 20px;
    border-top: 1px solid #96dc76;border-bottom: 1px solid #96dc76;
    background: #62cb31;
    color: #ffffff;
}
.green-line-2
{
    float: left;
    width: 10%; border-top: 1px solid #90ce72;border-bottom: 1px solid #90ce72;
    background: #58b62c;height: 20px;
	text-align: right;
  	padding-right: 5px;
	color: #FFF;
}
.green-line-3
{
    float: left;
    width: 40%; border-top: 1px solid #f8f8f8;border-bottom: 1px solid #f8f8f8;
    background: #f5f5f5;height: 20px;
    background-image: url("../images/8.png");
    background-repeat: no-repeat;
    background-size: 8px 6px;
    background-position: 90% center;
	text-align: right;
  	padding-right: 5px;
}
.hotel-img
{
    float: right;
}
.hotel-img-1
{
    background: url("../images/hotel-1.png");
    width: 56px;height: 39px;
}

.hotel-img-1
{
    background: url("../images/hotel-1.png");
    width: 56px;height: 39px;
}
.hotel-img-2
{
    background: url("../images/hotel-2.png");
    width: 56px;height: 39px;
}
.hotel-img-3
{
    background: url("../images/hotel-3.png");
    width: 56px;height: 39px;
}


.hotel-img-4
{
    background: url("../images/hotel-4.png");
    width: 56px;height: 39px;
}

.rest-img-1
{
    background: url("../images/rest-1.png");
    width: 56px;height: 39px;
}
.rest-img-2
{
    background: url("../images/rest-2.png");
    width: 56px;height: 39px;
}
.rest-img-3
{
    background: url("../images/rest-3.png");
    width: 56px;height: 39px;
}

.rest-img-4
{
    background: url("../images/res-4.png");
    width: 56px;height: 39px;
}

.borderline {
	position: relative;
	background: #eaeaea;
	display: block;
	height: 1px;
	width: 100%;
	margin: 20px 0 15px;
}

.borderline:before {
	position: absolute;
	background: #eaeaea;
	content: "";
	bottom: -7px;
	left: 50%;
	height: 14px;
	width: 14px;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	margin-left: -7px;
}

.borderline:after {
	position: absolute;
	background: #fff;
	content: "";
	bottom: -5px;
	left: 50%;
	height: 16px;
	width: 16px;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	margin-left: -8px;
}

.price-table h4 {
	color: #111;
	margin: 0;
}

.price-table p.price  {
	font-size: 40px;
	color: #62cb31;
	padding: 0 0 0 7px ;
    clear: left;
	margin: 0 0 0 -10px;
    line-height: 40px;
}

.price-table p.price span.price  {
	font-size: 40px;
	color: #62cb31;
	padding: 0 0 0 7px ;
    clear: left;
	margin: 0 0 0 -10px;
    line-height: 40px;
	display: inline-block;
	vertical-align: top;
    position: relative;
	top: 9px;
}


.price_count-to
{
	display: inline-block;
}

.price-table p.price span {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
    position: relative;
	top: 9px;
    color: #6a6c6f;
}

.price-details {
	padding: 0;
	margin: 0 0 23px;list-style: none;
}

.price-details li {
	padding: 3px 0;text-align: left;clear: right;

}
.li-img
{
    
    width: 22px;
    height: 22px;
    float: right;
	border: 1px solid #90ce72;
  	background: #58b62c;
	text-align: center;
  	color: #FFF;
}
.price-details li > span {
	text-decoration: line-through;
	color: #aaa;
}

/* -------------------------------------------------------------------
Count to
------------------------------------------------------------------- */

.count-item {
	
}

.count-item-cyfr {
	text-align: center;
    box-shadow: 0 2px 0 rgba(0,0,0,0.05);
    border-radius: 2px;
    border: 0;
    opacity: 1;color: #fff;
    padding: 20px 0;
    min-height: 160px;
}

.price-table .font-alt .count-item
{
	text-align: left !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    border: none !important;
    opacity: 1 !important; 
 	min-height: 0px;
}

.count-item-1
{
    background-color: #feab34;
}
.count-item-2
{
    background-color: #458fd2;
}
.count-item-3
{
    background-color: #8cc152;
    }
.count-item-4
{
    background-color: #9365b8;
}
.count-icon {
	line-height: 1.2;
	font-size: 42px;
}

/* -------------------------------------------------------------------
Video box
------------------------------------------------------------------- */

.video-box {
	text-align: center;
	padding: 40px 0;
}

.video-box-icon > a > i,
.video-box-icon > a > span {
	line-height: 1.8;
	font-size: 40px;
	color: #fff;
}

.video-title {
	letter-spacing: 4px;
	font-size: 30px;
	margin: 10px 0 0;
}

.video-subtitle {
	color: rgba(255, 255, 255, .5);
}

/* -------------------------------------------------------------------
Portfolio
------------------------------------------------------------------- */

/* Portfolio filter */

.filter {
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0 0 70px;
}

.filter > li {
	display: inline-block;
	margin: 0 25px;
    background-color: #fafafa;
    font-weight: bold;
    color: #515151;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 0;
    border: 1px solid #cdd6e1;
    font-size: 12px;
    line-height: 1.42857;
    vertical-align: middle;
    -webkit-transition: all .25s;
    transition: all .25s;
}

/* Portfolio grid */

.works-grid {
	list-style: none;
	padding: 0;
	margin: 0;
}

.works-grid.works-grid-gut {
	margin: 0 0 0 -10px;
}

.works-grid.works-grid-gut .work-item {
	padding: 0 0 10px 10px;
}

.work-item {
	width: 50%;
	float: left;
	margin: 0;
}

.works-grid-3 .work-item {
	width: 33.333333%;
}

.works-grid-4 .work-item {
	width: 25%;
}

.works-grid-5 .work-item {
	width: 20%;
}

.work-item > a {
	position: relative;
	display: block;
	overflow: hidden;
}

.work-image {
	position: relative;
	overflow: hidden;
}

.work-image img {
	display: block;
	overflow: hidden;
	width: 100%;
}

.work-image:after {
	position: absolute;
	display: block;
	content: "";
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.work-caption {
	width: 100%;
	padding: 0 20px;
	opacity: 0;
	position: absolute;
	bottom: 100%;
	left: 0;
	text-align: center;
	overflow: hidden;
}

.work-title {
	font-size: 14px;
	color: #fff;
	margin: 0 0 6px;
}

.work-descr {
	color: #aaa;
}

.work-item:hover .work-image:after {
	background: rgba(0, 0, 0, .6);
}

.work-item:hover .work-image > img {
	-webkit-transform: scale(1.1) rotate(2deg);
	   -moz-transform: scale(1.1) rotate(2deg);
	    -ms-transform: scale(1.1) rotate(2deg);
	     -o-transform: scale(1.1) rotate(2deg);
	        transform: scale(1.1) rotate(2deg);
}

.work-item:hover .work-caption {
	bottom: 50%;
	opacity: 1;
	z-index: 3;
	-webkit-transform: translateY(50%);
	   -moz-transform: translateY(50%);
	        transform: translateY(50%);
}

/* Work item white background*/

.works-grid.works-hover-w .work-title {
	color: #111;
}

.works-grid.works-hover-w .work-item:hover .work-image:after {
	background: rgba(255, 255, 255, .8);
}

/* Work item gradien background*/

.works-grid.works-hover-g .work-image:after {
	opacity: 0;
}

.works-grid.works-hover-g .work-descr {
	color: #fff;
}

.works-grid.works-hover-g .work-item:hover .work-image:after {
	background: rgb(111,226,158);
	background: -moz-linear-gradient(-45deg, rgba(111,226,158,0.8) 0%, rgba(91,218,209,0.8) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(111,226,158,0.8)), color-stop(100%,rgba(91,218,209,0.8)));
	background: -webkit-linear-gradient(-45deg, rgba(111,226,158,0.8) 0%,rgba(91,218,209,0.8) 100%);
	background: -o-linear-gradient(-45deg, rgba(111,226,158,0.8) 0%,rgba(91,218,209,0.8) 100%);
	background: -ms-linear-gradient(-45deg, rgba(111,226,158,0.8) 0%,rgba(91,218,209,0.8) 100%);
	background: linear-gradient(135deg, rgba(111,226,158,0.8) 0%,rgba(91,218,209,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fe29e', endColorstr='#5bdad1',GradientType=1 );
	opacity: 1;
}

/* -------------------------------------------------------------------
Portfoli Single
------------------------------------------------------------------- */
.work-details {
	margin: 0 0 20px;
}

.work-details-title {
	color: #111;
	margin: 0 0 20px;
}

.work-details ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.work-details ul > li {
	border-bottom: 1px dotted #c2c2c2;
	padding: 0 0 5px;
	margin: 0 0 5px;
}

/* -------------------------------------------------------------------
Callout
------------------------------------------------------------------- */

.callout-text {
	color: rgba(255, 255, 255, 0.6);
}

.callout-title {
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	margin: 0;
}

.callout-btn-box {
	text-align: right;
	padding-top: 4px;
}

/* -------------------------------------------------------------------
Testimonials
------------------------------------------------------------------- */

.testimonials-slider {
	position: relative;
}

.testimonial-text {
	text-align: center;
	font-style: normal;
	font-size: 18px;
}

.testimonial-caption {
	text-align: center;
	padding: 10px 0 0;
}

.testimonial-title {
	font-size: 14px;
}

.testimonial-descr {
	color: rgba(255, 255, 255, .5);
	font-size: 11px;
}

/* -------------------------------------------------------------------
Gallery
------------------------------------------------------------------- */

.gallery-item {
	position: relative;
	text-align: center;
	margin: 0 0 20px;
}

.gallery-image {
	position: relative;
	overflow: hidden;
}

.gallery-image img {
	display: block;
	overflow: hidden;
	width: 100%;
}

.gallery-image:after {
	position: absolute;
	background: transparent;
	content: " ";
	display: block;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.gallery-caption {
	position: absolute;
	width: 100%;
	opacity: 0;
	bottom: 100%;
	left: 0;
	z-index: 2;
	text-align: center;
	font-size: 28px;
	color: #fff;
	padding: 20px;

}

.gallery-icon {
	background: rgba(255,255,255,0.2);
	border-radius: 50%;
	height: 50px;
	width: 50px;
	font-size: 24px;
	margin: 0 auto;
}

.gallery-icon i,
.gallery-icon span {
	line-height: 50px;
}

/* Gallery hover */

.gallery-item:hover .gallery-image:after {
	background: rgba(0, 0, 0, .6);
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
	bottom: 50%;
	-webkit-transform: translateY(50%);
	   -moz-transform: translateY(50%);
	        transform: translateY(50%);
}

/* -------------------------------------------------------------------
Post
------------------------------------------------------------------- */

.post {
	margin: 0 0 80px;
}

.post-title {
	line-height: 1.4;
	font-size: 22px;
	color: #111;
	margin: 0;
}

.post-header {
	margin: 0 0 15px;
}

.post-meta {
	font-size: 11px;
	color: #aaa;
}

.post-entry {
	border-top: 1px dotted #c2c2c2;
	padding-top: 20px;
	margin-top: 10px;
}

.post-images-slider {
	position: relative;
}

.post-images-slider .flex-control-nav {
	bottom: 0;
}

.post-thumbnail,
.post-images-slider,
.post-video {
	margin: 0 0 20px;
}

.post-quote {
	background: #f5f5f5;
	text-align: center;
	padding: 20px;
}

/* Post columns */

.post-columns .post {
	margin: 0 0 60px;
}

.post-columns .post-header {
	margin: 0 0 10px;
}

.post-columns .post-title {
	line-height: 1.8;
	font-size: 14px;
}

.post-columns .post-entry {
	padding: 10px 0 0;
	margin: 0 0 10px;
}

.post-columns .post-entry p:last-child {
	margin: 0;
}

.more-link:after {
	content: "\00BB";
	color: #666666;
	padding-left: 5px;
}

.pagination a {
	border: 1px solid #eaeaea;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	color: #999;
	padding: 4px 12px;
}

.pagination a.active {
	border-color: #CACACA;
}

/* -------------------------------------------------------------------
Widgets
------------------------------------------------------------------- */

.sidebar .widget {
	margin-bottom: 60px;
}

.sidebar .widget-title {
	color: #111;
}

.widget .widget-title {
	border-bottom: 1px dotted #c2c2c2;
	font-size: 14px;
	padding: 0 0 10px;
	margin: 0 0 15px;
}

.widget ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.widget .icon-list li {
	padding: 5px 0;
}

.widget .icon-list li a:before {
	content: "\00BB";
	color: #666666;
	padding-right: 5px;
}

.widget-posts li {
	margin: 0 0 15px;
}

.widget-posts li:last-child {
	margin: 0;
}

.widget-posts-image {
	float: left;
	width: 64px;
}

.widget-posts-body {
	margin-left: 74px;
}

.search-box {
	position: relative;
}

/* -------------------------------------------------------------------
Tags
------------------------------------------------------------------- */

.tags a {
	background: #111;
	display: inline-block;
	font-size: 10px;
	color: #fff;
	padding: 4px 10px 4px 12px;
	margin: 0 0 4px;
	-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}

.tags a:hover {
	background: rgba(17, 17, 17, .8);
}

/* -------------------------------------------------------------------
Comments and comment form
------------------------------------------------------------------- */

.comments,
.comment-form {
	margin: 80px 0 0;
}

.comments .comment-title,
.comment-form .comment-form-title {
	border-bottom: 1px dotted #c2c2c2;
	font-size: 16px;
	color: #111;
	padding-bottom: 15px;
	margin: 0 0 20px;
}

.comment-author {
	font-size: 14px;
	margin: 0 0 10px;
}

.comment-avatar {
	width: 55px;
	float: left;
	margin-top: 10px;
}

.comment-avatar img {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
}

.comment-content {
	padding-top: 5px;
	margin-left: 75px;
	margin-bottom: 30px;
}

/* -------------------------------------------------------------------
Client logos
------------------------------------------------------------------- */

.client-logo {
	opacity: .5;
}

.client-logo:hover {
	opacity: 1;
}

/* -------------------------------------------------------------------
Scroll to top
------------------------------------------------------------------- */

.scroll-up {
	position: fixed;
	display: none;
	bottom: 7px;
	right: 7px;
	z-index: 999;
}

.scroll-up a {
	background: #fff;
	display: block;
	height: 28px;
	width: 28px;
	text-align: center;
	line-height: 28px;
	font-size: 14px;
	color: #000;
	opacity: 0.6;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
		 -o-border-radius: 2px;
			border-radius: 2px;
}

.scroll-up a:hover,
.scroll-up a:active {
	opacity: 1;
	color: #000;
}

/* -------------------------------------------------------------------
Responsive Media Querries
------------------------------------------------------------------- */

@media (min-width: 768px) {

	.navbar-transparent {
		background: transparent;
		padding-bottom: 15px;
		padding-top: 15px;
	}

	.navbar-custom .dropdown-menu {
		position: absolute;
		display: block;
		visibility: hidden;
		opacity: 0;
	}

	.navbar-custom .open > .dropdown-menu {
		visibility: visible;
		opacity: 1;
	}

	.navbar-custom .dropdown-menu .dropdown-toggle:after {
		position: absolute;
		display: block;
		right: 9px;
		top: 50%;
		margin-top: -6px;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: 9px;
		content: "\f105";
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.navbar-right .dropdown-menu {
		right: auto;
		left: 0;
	}

	/* Comments */

	.comment .comment {
		margin-left: 75px;
	}

}

@media (max-width: 1200px) {

	/* Features */

	.alt-features-item {
		margin: 20px 0 0;
	}

}

@media (max-width: 991px) {

	.hs-title-size-3 {
		letter-spacing: 8px;
		font-size: 36px;
	}

	.hs-title-size-4 {
		letter-spacing: 12px;
		font-size: 38px;
	}

	.work-item,
	.works-grid-3 .work-item,
	.works-grid-4 .work-item,
	.works-grid-5 .work-item {
		width: 50%;
	}

	/* Half-image */

	.side-image {
		position: relative;
		height: 300px;
	}

}

@media (max-width: 767px) {

	/* Navbar */
.navbar-custom .navbar-brand
{
   padding-left: 5px;
}
	.navbar-custom .navbar-nav {
		margin-top: 1px;
		margin-bottom: 0;
	}

	.navbar-custom li a:hover {
		background: rgba(255, 255, 255, .1) !important;
	}

	.navbar-custom .navbar-nav .open .dropdown-menu .dropdown-header,
	.navbar-custom .navbar-nav .open .dropdown-menu > li > a {
		padding: 10px 25px;
	}

	.navbar-custom .navbar-nav .open .dropdown-menu .dropdown-menu .dropdown-header,
	.navbar-custom .navbar-nav .open .dropdown-menu .dropdown-menu > li > a {
		padding: 10px 35px;
	}

	.navbar-custom li a,
	.navbar-custom .dropdown-search {
		border-bottom: 1px solid rgba(73, 71, 71, 0.3) !important;
	}

	.navbar-custom .dropdown-toggle:after,
	.navbar-custom .dropdown-menu .dropdown-toggle:after {
		right: 7px;
		content: "\f107";
	}

	.navbar-custom .nav > .open >.dropdown-toggle:after,
	.navbar-custom .dropdown-menu .dropdown.open .dropdown-toggle:after {
		right: 7px;
		content: "\f106";
	}

	/* Headers */

	.hs-title-size-1 {
		letter-spacing: 2px;
		font-size: 14px;
	}

	.hs-title-size-2 {
		line-height: 1.3;
		letter-spacing: 2px;
		font-size: 16px;
		opacity: .8;
	}

	.hs-title-size-3 {
		letter-spacing: 4px;
		font-size: 26px;
	}

	.hs-title-size-4 {
		letter-spacing: 6px;
		font-size: 28px;
	}

	/* Features */

	.features-item {
		margin: 0 0 30px;
	}

	.alt-features-item {
		padding-left: 10px;
		margin: 0 0 30px;
		text-align: center;
	}

	.alt-features-icon {
		position: static;
		margin: 0 auto 8px;
	}

	/* Callout */

	.callout-text {
		margin: 0 0 30px;
	}

	.callout-text,
	.callout-btn-box {
		text-align: center;
	}

	/* Sidebar */

	.sidebar {
		margin-top: 50px;
	}

	.widget {
		margin-bottom: 60px;
	}

	.post.mb-0 {
		margin-bottom: 40px !important;
	}

	.footer {
		text-align: center;
	}

	.copyright,
	.footer-social-links {
		text-align: center;
		margin: 10px 0;
	}

	/* Half-image */

	.side-image-text {
		padding-left: 15px;
		padding-right: 15px;
	}

	/* Restaurant menu */

	.menu-title,
	.menu-detail,
	.menu-price-detail {
		text-align: center;
	}

	/* Scroll up btn*/

	.scroll-up {
		display: none !important;
	}

}

@media only screen and (max-width: 480px) {

	.work-item,
	.works-grid-3 .work-item,
	.works-grid-4 .work-item,
	.works-grid-5 .work-item {
		width: 100%;
	}

}

/* -------------------------------------------------------------------
Multi-columns-row
------------------------------------------------------------------- */

.multi-columns-row .first-in-row {
	clear: left;
}

.multi-columns-row .col-xs-6:nth-child(2n + 3) { clear: left; }
.multi-columns-row .col-xs-4:nth-child(3n + 4) { clear: left; }
.multi-columns-row .col-xs-3:nth-child(4n + 5) { clear: left; }
.multi-columns-row .col-xs-2:nth-child(6n + 7) { clear: left; }
.multi-columns-row .col-xs-1:nth-child(12n + 13) { clear: left; }

@media (min-width: 768px) {

	.multi-columns-row .col-xs-6:nth-child(2n + 3) { clear: none; }
	.multi-columns-row .col-xs-4:nth-child(3n + 4) { clear: none; }
	.multi-columns-row .col-xs-3:nth-child(4n + 5) { clear: none; }
	.multi-columns-row .col-xs-2:nth-child(6n + 7) { clear: none; }
	.multi-columns-row .col-xs-1:nth-child(12n + 13) { clear: none; }

	.multi-columns-row .col-sm-6:nth-child(2n + 3) { clear: left; }
	.multi-columns-row .col-sm-4:nth-child(3n + 4) { clear: left; }
	.multi-columns-row .col-sm-3:nth-child(4n + 5) { clear: left; }
	.multi-columns-row .col-sm-2:nth-child(6n + 7) { clear: left; }
	.multi-columns-row .col-sm-1:nth-child(12n + 13) { clear: left; }

}
@media (min-width: 768px) and (max-width: 991px)
{
    .container2
    {
        width: 98%;
            }
    .nav>li>a
    {
        padding:15px 10px;
    }
    .features-item
    {
        min-height: 210px;
    }
}
@media (min-width: 992px) and (max-width: 1241px)
{
    .features-item
    {
        min-height: 255px;
    }
}
@media (min-width: 992px) {

	.multi-columns-row .col-sm-6:nth-child(2n + 3) { clear: none; }
	.multi-columns-row .col-sm-4:nth-child(3n + 4) { clear: none; }
	.multi-columns-row .col-sm-3:nth-child(4n + 5) { clear: none; }
	.multi-columns-row .col-sm-2:nth-child(6n + 7) { clear: none; }
	.multi-columns-row .col-sm-1:nth-child(12n + 13) { clear: none; }

	.multi-columns-row .col-md-6:nth-child(2n + 3) { clear: left; }
	.multi-columns-row .col-md-4:nth-child(3n + 4) { clear: left; }
	.multi-columns-row .col-md-3:nth-child(4n + 5) { clear: left; }
	.multi-columns-row .col-md-2:nth-child(6n + 7) { clear: left; }
	.multi-columns-row .col-md-1:nth-child(12n + 13) { clear: left; }
}

@media (min-width: 1200px) {

	.multi-columns-row .col-md-6:nth-child(2n + 3) { clear: none; }
	.multi-columns-row .col-md-4:nth-child(3n + 4) { clear: none; }
	.multi-columns-row .col-md-3:nth-child(4n + 5) { clear: none; }
	.multi-columns-row .col-md-2:nth-child(6n + 7) { clear: none; }
	.multi-columns-row .col-md-1:nth-child(12n + 13) { clear: none; }

	.multi-columns-row .col-lg-6:nth-child(2n + 3) { clear: left; }
	.multi-columns-row .col-lg-4:nth-child(3n + 4) { clear: left; }
	.multi-columns-row .col-lg-3:nth-child(4n + 5) { clear: left; }
	.multi-columns-row .col-lg-2:nth-child(6n + 7) { clear: left; }
	.multi-columns-row .col-lg-1:nth-child(12n + 13) { clear: left; }

}

/* -------------------------------------------------------------------
Vertival margin, padding
------------------------------------------------------------------- */

.p-0    {padding: 0!important}
.pt-0   {padding-top:0!important}
.pt-10  {padding-top:10px!important}
.pt-20  {padding-top:20px!important}
.pt-30  {padding-top:30px!important}
.pt-40  {padding-top:40px!important}
.pt-50  {padding-top:50px!important}
.pt-140 {padding-top:140px!important}

.pb-0   {padding-bottom:0!important}
.pb-10  {padding-bottom:10px!important}
.pb-20  {padding-bottom:20px!important}
.pb-30  {padding-bottom:30px!important}
.pb-40  {padding-bottom:40px!important}
.pb-50  {padding-bottom:50px!important}
.pb-140 {padding-bottom:140px!important}

.m-0 {margin:0 !important}
.mt-0  {margin-top:0 !important}
.mt-10 {margin-top:10px !important}
.mt-20 {margin-top:20px !important}
.mt-30 {margin-top:30px !important}
.mt-40 {margin-top:40px !important}
.mt-50 {margin-top:50px !important}
.mt-60 {margin-top:60px !important}
.mt-70 {margin-top:70px !important}
.mt-80 {margin-top:80px !important}

.mb-0  {margin-bottom:0!important}
.mb-10 {margin-bottom:10px !important}
.mb-20 {margin-bottom:20px !important}
.mb-30 {margin-bottom:30px !important}
.mb-40 {margin-bottom:40px !important;font-weight: bold;
    text-shadow: #464646 0.5px 0px, #464646 0.5px 0.5px,
    #464646 0px 0.5px, #464646 -0.5px 0.5px, #464646 -0.5px 0px,
    #464646 -0.5px -0.5px, #464646 0px -0.5px, #464646 0.5px -0.5px, #464646 0 0 0.5px,
    #464646 0 0 0.5px, #464646 0 0 0.5px, #464646 0 0 0.5px,
    #464646 0 0 0.5px, #464646 0 0 0.5px, #464646 0 0 0.5px, #464646 0 0 0.5px;
}
.mb-50 {margin-bottom:50px !important}
.mb-60 {margin-bottom:60px !important}
.mb-70 {margin-bottom:70px !important}
.mb-80 {margin-bottom:80px !important}

@media only screen and (max-width:991px) {

	.mt-sm-0  {margin-top:0!important}
	.mt-sm-10 {margin-top:10px !important}
	.mt-sm-20 {margin-top:20px !important}
	.mt-sm-30 {margin-top:30px !important}
	.mt-sm-40 {margin-top:40px !important}
	.mt-sm-50 {margin-top:50px !important}
	.mt-sm-60 {margin-top:60px !important}
	.mt-sm-70 {margin-top:70px !important}
	.mt-sm-80 {margin-top:80px !important}

	.mb-sm-0  {margin-bottom:0!important}
	.mb-sm-10 {margin-bottom:10px !important}
	.mb-sm-20 {margin-bottom:20px !important}
	.mb-sm-30 {margin-bottom:30px !important}
	.mb-sm-40 {margin-bottom:40px !important}
	.mb-sm-50 {margin-bottom:50px !important}
	.mb-sm-60 {margin-bottom:60px !important}
	.mb-sm-70 {margin-bottom:70px !important}
	.mb-sm-80 {margin-bottom:80px !important}

}

@media only screen and (max-width:767px) {

	.mt-xs-0  {margin-top:0!important}
	.mt-xs-10 {margin-top:10px !important}
	.mt-xs-20 {margin-top:20px !important}
	.mt-xs-30 {margin-top:30px !important}
	.mt-xs-40 {margin-top:40px !important}
	.mt-xs-50 {margin-top:50px !important}
	.mt-xs-60 {margin-top:60px !important}
	.mt-xs-70 {margin-top:70px !important}
	.mt-xs-80 {margin-top:80px !important}

	.mb-xs-0  {margin-bottom:0!important}
	.mb-xs-10 {margin-bottom:10px !important}
	.mb-xs-20 {margin-bottom:20px !important}
	.mb-xs-30 {margin-bottom:30px !important}
	.mb-xs-40 {margin-bottom:40px !important}
	.mb-xs-50 {margin-bottom:50px !important}
	.mb-xs-60 {margin-bottom:60px !important}
	.mb-xs-70 {margin-bottom:70px !important}
	.mb-xs-80 {margin-bottom:80px !important}

}


/* Новые стили  */
.services-technology
{
    margin-bottom: 0px; padding: 3px 10px;
}
@media screen and (max-width: 550px)
{
    .module-title
    {
        font-size: 22px;
    }
}

p.price sup {
  color: #7B7B7B;
  font-size: 23px;
}

/*Языки*/
.lang{
	display: inline-block;
	margin-top: 12px;
	margin-left: 11px;
}

	.lang li{
		display: inline-block;
	}

		.lang img:first-child{
			margin-right: 8px;
		}

			.lang li a:hover{
				color: #FFF2E6;
			}

.flag {
	width: 16px;
	height: 11px;
	background:url(../images/flags/flags.png) no-repeat;
}

.flag.flag-us {background-position: -160px -154px}
.flag.flag-ru {background-position: -224px -121px}

/**********************************************/
@media (min-width: 1200px) {
	.features-item{
		min-height: 263px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.features-item{
		min-height: 300px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.features-item{
		min-height: 275px;
	}
}